body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, p, blockquote, th, td {
margin:0;
padding:0;
}
body {
font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif;
font-size:12px;
text-align:left;
color:#000000;
}
a:link, a:visited {
color:#000;
text-decoration:none;
}
a:hover{
color:#163c7a;
text-decoration:none;
}
fieldset, img {
border:none;
}
legend {
display:none;
}
img {
vertical-align:top;
}
em {
font-style:normal;
}
li {
list-style:none;
}
h1, h2 {
font-size:14px;
}
h3, h4, h5, h6{
font-size:12px;
font-weight:normal;
}
input, button, textarea, select {
font-size:100%;
}
